p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.banner-one {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    background: #154b9c;
    color: white;
}

.banner-one__subtext{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

.banner-two {
    text-align: center;
    font-size: 1.2rem;
    background: #eff6df;
    margin: 0.2rem 0;
    padding: 0.3rem;
    margin: 0 auto;
}

.course-seperator {
    width: 4px;
    height: 30px;
    border-radius: 15px;
}

.carrer-text h1{
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
    margin: 25px;
  }

.courses-submenu {
    display: flex;
    flex-direction: column;
    padding-right: 2px;
    gap: 5px;
    animation: on-load .8s;
}

.courses-submenu__item {
    height: 45px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid hsla(0,0%,80%,.5);
}

.course-image{
    height: 90%;
}

.courses-submenu a{
    text-decoration: none;
    padding: 0.2rem;
    color: black;
}

.courses-and-contact-form .contact-us-form {
    margin-top: 110px;
    height: 490px;
    font-size: 0.9rem;
    padding: 0 1.3rem;
    font-weight: 700;
    max-width: 340px;
    color: white;
    justify-content: center;
    flex-direction: column;
    background:#154b9c;
    flex-grow: 3;
}

.contact-us-form h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.courses-and-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px auto 70px;
}

.input-box {
    padding: 1.2rem 0.3rem;
    height: 60px;
    margin: 0.5rem 0 1rem 0;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
}

.input-box.name {
    margin: 2rem 0 1rem 0;
}

.input-box input {
    outline: none;
    border: none;
}

.input-box input::placeholder{
    color: white;
}

.input-box .invalid::placeholder{
    color: red;
}

.input-box .course-seperator{
    width: 3px;
    height: 20px;
    border-radius: 15px;
    background:#154b9c;
}

.name .course-seperator{
    margin-right: 15px;   
}

.phone .course-seperator{
    margin-right: 29px;   
}

.email .course-seperator{
    margin-right: 20px;   
}

.advs-checkbox {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.courses-and-contact-form .contact-us-form {
    display: none;
}

.privacy-and-accs a{
    display: block;
    text-align: center;
    color:white;
    font-size: 12px;
    font-weight: 600;
    margin: 0.5rem;
}

.courses-and-contact-form .talk-with-me-btn {
    width: 100%;
    height: 4rem;
    font-size: 2.3rem;
    font-weight: 600;
    border: 2px solid #00b8d4;
    background: #fff6df;
    cursor:pointer;
}


.cyber {
    background: #4ac694;
}

.admin {
    background: #a3b6cc;
}

.marketing {
    background: #3a5998;
}

.qa {
    background: #316cff;
}

.design {
    background: #f9cf58;
}

.dev {
    background: #8b73f8;
}

.mobile {
    background: #8e8e93;
}

.embedded {
    background: #475f8e;
}

.why-study-with-us{
    padding: 0px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    background-image:url("./images/background.png");
}

.why-study-with-us ol{
    padding: 0 1.2rem 0 0;
}

.why-study-with-us h2{
    text-align: center;
    font-size: 2.9rem;
    font-weight: bold;
    
}

.study-section__text {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.2rem;
}

.study-section__text-bold{
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.study-section__text-blue{
    margin: 0.5rem 0 1.2rem 0;
    font-size: 1.2rem;
    color: blue;
}

.differences{
    margin: 10px;
    padding: 10px;
    font-size: 1.1rem;
    background: black;
    color: white;
}

.differences a{
    font-weight: 600;
    color: white;
}

.differences_start {
    margin-top: 1rem;
}

.differences_end {
    margin-bottom: 1rem;
}

.differences-2{
    margin: 10px;
    padding: 10px;
    font-size: 1.1rem;
    background: #eff6df;
    color: black;
}

.differences_start2 {
    margin: 1rem 0 1rem 0;
}

.clients {
    padding: 50px 15px 10px 0;
    background: #fff;
    box-shadow: 50px 50px 50px #c2b9b0;
}

.clients h2 {
    text-align: center;
    font-size: 1.5rem;
}

.clients-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.client-logo {
    max-height: 100px;
    max-width: 100px;
    margin: 22px;
    flex-shrink: 0;
    object-fit: fill;
}

.about-us {
    background: url('./images/background.png');
    padding: 50px 15px 60px 0;
    
}

.about-us p {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.about-us h2{
    margin: 10px;
    text-align: center;
}

.about-us p{
    font-size: 1.1em;
}

.how-it-works {
    background: url('./images/background.png');
    padding: 50px 15px 60px 0;
}

 .how-it-works h3{
    margin: 0;
    font-size: 2.9rem;
    margin-bottom: 5px;
    text-align: center;
}

.hiw-submenu-container{
    margin: 0 10px;
    font-size: 1rem;
}

.how-it-works-submenu{
    padding: 20px;
    flex-flow: column;
    display: flex;
}

.hiw-submenu__category-title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.hiw-submenu__category{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column;
    color: white;
    padding: 20px;
    margin: 5px 0;
    overflow: hidden;
}

.category-inner-info {
    font-size: 1.1rem;
    transition: max-height 0.3s linear;
    transform-origin: bottom;
    max-height: 900px;
    
}

.closed-submenu {
    max-height: 0;
}

.opened-submenu{
    max-height: 900px;
}

.diagnosis {
    background: #0598a8;
}

.course {
    background: #39a4dc;
}

.sorting{
    background: #06f;
}

.new-career{
    background: #213b7f;
}

.plus-sign{
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.qna {
    background: #fff6df;
}

.qna-container,
.public-service-container {
    padding: 50px 15px 60px 0;
}

.qna-container h2,
.public-service-container h2{
    margin: 10px 0;
    text-align: center;
}

.public-service {
    background: url('./images/background.png');
}

.questions {
    display: flex;
    flex-direction: column;
    
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #007cba;
    font-size: 1.1rem;
    font-weight: 600;
    height: 80px;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
   
}

.question-and-answer {
    border: .5px solid #dbdbdb;
    border-right: none;
    border-left: none;
    padding: 0 10px;
}

.answer-hidden {
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.answer {
    max-height: 800px;
    margin-bottom: 15px;
}

.answer a{
    color: #00f;
    font-weight: 600;
}

.answer-link {
    display: block;
    text-decoration: underline;
    color: #00f;
    font-weight: 600;
}

.icon::before {
    display: none; 
}

.icon-arrow-down::before {
    content: "\f0ab";
}

.icon-arrow-up::before {
    content: "\f0aa";
}
 
.svg-inline--fa {
    margin-right: 0.5rem;
    color: white;
}

.icon-solid::before {
    font: var(--fa-font-solid);
}

.arrow-image{
    height: 30%;
    margin-right: auto;
    justify-items: center;
}

/***************************************************************/

.contact-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.contact-footer {
    background: #213b7f;
    color: white;
    padding-bottom: 50px;
}

.contact-footer h2{
    font-size: 1.2rem;
    margin: 0 10px 15px;
    padding-top: 10px;
}

.contact-footer .contact-us-form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 700;
    justify-content: center;
    flex-direction: column;
    background:#213b7f;
}

.contact-footer .input-box {
    height: 60px;
    margin: 25px 0;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
}

.contact-us-form h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.courses-and-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px auto 70px;
}

.courses-and-contact-form .input-box.name {
    margin: 2rem 0 1rem 0;
}

.input-box input {
    outline: none;
    border: none;
}

.input-box input::placeholder{
    color: white;
}

.input-box .invalid::placeholder{
    color: red;
}

.input-box .course-seperator{
    width: 3px;
    height: 20px;
    border-radius: 15px;
    background:#154b9c;
}

.name .course-seperator{
    margin-right: 15px;   
}

.phone .course-seperator{
    margin-right: 29px;   
}

.email .course-seperator{
    margin-right: 20px;   
}

.contact-footer .talk-with-me-btn {
    height: 60px;
    width: 256px;
    margin: 0 auto;
    font-size: 2.3rem;
    font-weight: 600;
    border: 2px solid #00b8d4;
    background: #fff6df;
    cursor: pointer;
    align-self: center;
    margin-bottom: 10px;
}

.contact-us-form .advs-checkbox {
    font-size: 0.8rem;
    align-self: center;
    font-weight: 700;
}

/***********************************************************************/

@media (min-width: 450px) {
    
    .courses-submenu {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .courses-submenu__item {
        text-align: center;
        width: 11rem;
        height: 9rem;
        flex-direction: column;
        border: none;
    }

    .course-image{
        width: 4rem;
        height: 4rem;
    }

    .course-seperator {
        width: 30px;
        height: 4px;
    }

    .arrow-image{
        display: none;
    }
}

@media (min-width: 925px) {
    .courses{
        display: flex;
        flex-direction: column;
    }

    .banner-one{
        padding-top: 60px;
        align-items: center;
        font-weight: 600;
        font-size: 90px;
        line-height: 0.9; 
    }

    .banner-one__subtext{
        font-size: 120px;
        font-weight: 800;
        line-height: 0.9;
    }

    .carrer-text h1{
        text-align: right;
        padding: 0 3rem 0 0;
    }

    .courses-and-contact-form .contact-us-form {
        display: flex;
    }

    .courses-submenu a{
        padding: 0;
    }

    .courses-submenu {
        max-width: 650px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .courses-submenu {
        padding: 0;
        gap: 0px;
    }

    .courses-submenu__item {
        text-align: center;
        width: 9rem;
        height: 10rem;
        flex-direction: column;
        border: none;
    }

    .course-seperator {
        width: 30px;
        height: 4px;
    }

    .why-study-with-us{
        box-shadow: 10px 50px 100px #000;       
    }

    .study-section {
        max-width: 1120px;
        margin: 0 auto;
    }

    .differences-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .differences {
        transition: all .5s linear;
        max-width: 550px;
        width: 50%;
    }

    .differences-2{
        transition: all .5s linear;
        max-width: 550px;
        width: 50%;
    }

    .differences:hover,
    .differences-2:hover{
        transform: scale(1.1,1.1);
        box-shadow: 10px 10px 50px black;
    }

    .about-us {
        padding: 65px 10px 10px;
    }

    .how-it-works {
        padding: 65px 10px 10px;
    }

    .desktop-only {
        display: unset;
    }

    .qna-container,
    .public-service-container{
        padding: 65px 10px 10px;
        display: flex;
        flex-direction: column;
        width: 990px;
        margin: 0 auto;
    }
    

    .questions {
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .question-and-answer {
        margin: 0 17px;
        width: 450px;
    }

    #q1{
        order: 2;
    }
    #q2{
        order: 4;
    }
    #q3{
        order: 6;
    }
    #q4{
        order: 8;
    }
    #q5{
        order: 10;
    }
    #q6{
        order: 12;
    }
    #q7{
        order: 1;
    }
    #q8{
        order: 3;
    }
    #q9{
        order: 5;
    }
    #q10{
        order: 7;
    }
    #q11{
        order: 9;
    }
    #q12{
        order: 11;
    }
    #q13{
        order: 13;
    }
    #q14{
        order: 2;
    }
    #q15{
        order: 4;
    }
    #q16{
        order: 6;
    }
    #q17{
        order: 1;
    }
    #q18{
        order: 3;
    }
    #q19{
        order: 5;
    }

    .contact-footer h2{
        text-align: center;
    }
    .contact-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .contact-footer .contact-us-form {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        width: 98%;
        max-width: 925px;
    }

    .contact-us-form .input-box {
        width: auto;
    }

    .contact-footer .talk-with-me-btn {
        width: 25%;
        font-size: 2.3rem;
        font-weight: 600;
        border: 2px solid #00b8d4;
        background: #fff6df;
        cursor: pointer;
        align-self: center;
        margin: 0 auto;
    }

    .whatsapp-connect{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:255px;
        height: 35px;
        position: fixed;
        background: #0066ff;
        top:95vh;
        right: 1vw;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        color: white;
        font-weight: 600;
        font-size: 1.3rem;
        border-radius: 15px;
        border:2px solid  #25d366;
    }
    .whatsapp-connect:hover{
        cursor: pointer;
    }
}

@media (min-width: 1205px) {

    .how-it-works-submenu{
        padding: 20px;
        flex-flow: row;
        display: flex;
        flex-wrap: wrap;
        width: 1140px;
        justify-content: center;
        margin: 0 auto 20px;
    }
        
    .hiw-submenu__category{
        font-size: 1.3rem;
        display: flex;
        flex-flow: column;
        color: white;
        padding: 45px;
        margin: 0;
        overflow: visible;
        width: 550px;
        height: 592px;;
        
    }
    
    .diagnosis{
        order: 1;
    }

    .course{
        order: 2;
    }

    .sorting {
        order: 4;
    }

    .new-career {
        order: 3;
    }

    .category-inner-info {
        font-size: 1.1rem;
        transition: max-height 0.3s linear;
        transform-origin: bottom;
        max-height: 900px;
        
    }

    .plus-sign{
        display: none;
    }

    .closed-submenu {
        display: flex;
        flex-direction: column;
    }

    .triangle{
      height: 0;
      width: 0;
      border: 25px solid white;
      flex-shrink: 0;
      position: relative;
    }

    .diagnosis .triangle-left{
        border-right-color: #0598a8;
    }

    .course .triangle-down {
        border-top-color: #39a4dc;
    }

    .sorting .triangle{
        border-left-color: #06f;
    }

    .triangle-left{
      float: left;
      margin-top: -60px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      right: 505px;
      top: 50px;
    
    }
    .triangle-down{
      border-right-color: transparent;
      border-bottom-color:transparent;
      border-left-color: transparent;
      top: 173px;
      right: 400px;
    }
    .triangle-right{
      border-top-color:transparent;
      border-right-color: transparent;
      border-bottom-color:transparent;
      top: -205px;
      left: 95px;
    }
}

@keyframes on-load {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}