@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%; 
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}

.main-header {
  top: 0;
  left: 0;
  position: relative;
  background: white;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-header__item {
  height: 60px;
  position: relative;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 55px;
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.toggle-button__bar {
  width: 100%;
  height: 0.33rem;
  background: rgb(64, 64, 133);
  display: block;
  border-radius: 15%;
}

.top-bar-animation{
  animation: make-cross__top 200ms 0s forwards;
  transform-origin: top left;
}

.bottom-bar-animation {
  animation: make-cross__bottom 200ms 0s forwards;
  transform-origin: bottom left;
}

.middle-bar-animation{
  animation: fade-middle 200ms 0s forwards;
}

.top-bar-animation-reverse{
  animation: make-cross__top-reverse 200ms 0s forwards;
  transform-origin: top left;
}

.bottom-bar-animation-reverse{
  animation: make-cross__bottom-reverse 200ms 0s forwards;
  transform-origin: bottom left;
}

.middle-bar-animation-reverse{
  animation: fade-middle-reverse 200ms 0s forwards;
}

.main-header__logo-description {
  font-size: 0.55rem;
  color: purple;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 0.5rem;
  left: 0.35rem;  
}

.toggle-button:focus {
  outline: none;
}

.main-header__brand {
  display: block;
  height: 60px;
}

.main-header__brand img{
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
}

.dropdown-menu__item {
  font-family: 'Assistant', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1.25rem 1rem 1.25rem 0;
  position: relative;
}

.dropdown-menu__item a{
  display: block;
  text-decoration: none;
  color: black;
}

.arrow-image-container {
  display: none;
}

.mobile-arrow-image-container {
  display: flex;
  height: 26px;
}

.career-submenu {
  display:none;
  flex-direction: column;
}

.career-submenu__item {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px dashed lightgreen;
} 

.big-screen-carrer {
  display:none;
}

.seperator {
  display :none;
}

.displayFlex {
  display: flex;
}

.displayNone {
  display: none;
}

.zindex {
  z-index: 1000;
}

.displayBlock{
  display: block;
}


.footer-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #06f;
  display: flex;
  justify-content: center;
  height: 60px;
}

.footer-container .svg-inline--fa{
  color: white;
  margin-left: 4px;
}

.footer-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.footer-btn:hover {
  text-decoration: underline;
}

.footer-btn:first-of-type{
  border-left: 2px solid white;
}

.whatsapp-connect {
  display : none;
}

/*
.footer-container {
  display: flex;
  padding: 2rem;
  margin-top: 3rem;
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
*/

@keyframes make-cross__top{
  0% {
    transform: translateY(0px) rotateZ(0);
  }

  50%{
    transform: translateY(-2px) rotateZ(25deg) ;
  }

  100% {
    transform: translateY(-5px) rotateZ(45deg) ;
  }
}

@keyframes fade-middle{
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  50%{
    transform: translateX(2px);
    opacity: 0.7;
  }

  100% {
    transform: translateX(4px);
    opacity: 0;
  }
}

@keyframes make-cross__bottom{
  0% {
    transform: translateY(0px)  rotateZ(0);
  }

  50%{
    transform: translateY(0.5px) rotateZ(-25deg);
  }

  100% {
    transform: translateY(1px) rotateZ(-45deg);
  }
}

@keyframes make-cross__top-reverse{

  0% {
    transform: translateY(-5px) rotateZ(45deg);
  }

  100%{
    transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes fade-middle-reverse{
  0% {
    transform: translateX(-4px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes make-cross__bottom-reverse{
  0% {
    transform: translateY(1px) rotateZ(-45deg);
  }

  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}

@media (min-width: 925px) {

  .footer-container {
    display: none;
  }

  .nav-header{
    width: 100%;
    background: white;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .toggle-button {
    display: none;
  }

  .big-screen-carrer {
    display:block;
  }

  .dropdown-menu{
    display: flex;
    flex-direction: row;
  }

  .dropdown-menu__item {
    font-size: 1rem;
    padding: 1rem 0 0 0;
  }

  .career:hover {
    color: #154b9c;
    font-weight: 800;
  }

  .career-submenu{
    position: fixed;
    z-index: 101;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 350px;
  }

  .career:hover > .career-submenu{
    background: #154b9c;
    display: flex;
  }

  .career-submenu__item{
    border: none;
    padding: 0.6rem;
    margin: 0;
  }
  .career-submenu__item a{
    color: white;
    font-size: 0.9rem;
  }

  .dropdown-menu__item a:hover{
    background: white;
    color: #154b9c;
    font-weight: 700;
  }

  .arrow-image-container{
    height: 1rem;
    padding: 1rem 0 0 0;
  }

  .mobile-arrow-image-container {
    display:none;
  }

  .arrow-image-container{
    width: 1.5rem;
    display: block;
    padding: 1rem 0 0 0;
  }

  .arrow-image-container img{
    width: 100%;
  }

  .seperator {
    display : inline;
    font-size: 1.5rem;
    padding: 0.5rem 0.1rem 0rem 0.1rem;
  }

  .home {
    display: none;
  }
}